.*
.*/**
examples/**
out/**
node_modules/**
test/**
mcp/**
mermaid-node-core/**
src/**/*.ts
**/*.map
**/tsconfig.json
esbuild.config.js
**/.DS_Store
*.vsix
*.md
!README.md
!CHANGELOG.md
package-lock.json
artifacts/**
assets/**
reviews/**
